.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.custom-tags {
  text-align: center !important;
  display: block;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

.section-spacing {
  margin-bottom: 200px;
}

.scroll {
  text-decoration: underline;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.home-image {
  width: 50%;
  height: auto;
}

.dialog {
  border: 1px solid grey;
  box-shadow: 0 8px 6px -6px black;
  position: static;
  top: 40%;
  width: 100%;
}

.image-modal {
  width: 100%;
  height: auto;
}